.subVisual { background-color: #eefbff; }

.subVisual .container { height: 700px; position: relative; }

.subVisual .contentsBox { display: flex; justify-content: space-between; align-items: center; height: 700px; }

.subVisual .contentsBox .subTitleBox .subTitle { font-size: 42px; font-weight: 700; line-height: 1.2; margin-bottom: 20px; }

.subVisual .contentsBox .subTitleBox p { color: #333; line-height: 1.8; }

.subVisual .contentsBox .imgBox { width: 740px; height: 500px; position: relative; }

.subVisual .contentsBox .imgBox img { position: absolute; }

#subVisual01 .contentsBox .imgBox img:nth-child(1) { left: 200px; }

#subVisual01 .contentsBox .imgBox img:nth-child(2) { left: 0; top: 120px; }

#subVisual01 .contentsBox .imgBox img:nth-child(3) { left: 60px; top: 250px; }

#subVisual01 .contentsBox .imgBox img:nth-child(4) { right: 0; top: 120px; }

#lnb { position: absolute; background-color: #fff; width: 100%; left: 0; bottom: 0; }

#lnb .depth02 { display: flex; }

#lnb .depth02 li { flex-basis: 25%; border: 1px solid #ccc; }

#lnb .depth02 li:not(:nth-child(1)) { border-left: none; }

#lnb .depth02 li.active { background-color: #0f91d0; border-color: #0f91d0; color: #fff; }

#lnb .depth02 li a { display: flex; height: 70px; justify-content: center; align-items: center; }

#lnb .depth03 { display: none; }

.breadCrumb .container { display: flex; border-bottom: 1px solid #ccc; padding: 20px 0; }

.breadCrumb .container .home { display: flex; width: 50px; height: 50px; overflow: hidden; text-indent: -999px; justify-content: center; align-items: center; border-left: 1px solid rgba(255, 255, 255, 0.5); }

.breadCrumb .container .home:before { text-indent: 0; font-size: 24px; font-family: "Material Icons Two Tone"; content: "home"; display: inline-block; margin-left: 0; }

.breadCrumb .container .lnb01 { display: flex; height: 50px; align-items: center; padding: 0 20px; }

.breadCrumb .container .lnb02:hover .depth02 { pointer-events: auto; opacity: 1; transform: translateY(0); }

.breadCrumb .container .lnb02 button { padding: 0 20px; background: none; border: none; display: flex; height: 50px; align-items: center; padding: 0 20px; font-size: 16px; font-family: "Noto Sans KR"; }

.breadCrumb .container .lnb02 .depth02 { padding: 15px; background-color: #fff; border: 1px solid #ccc; border-radius: 10px; width: 150px; box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); position: absolute; opacity: 0; pointer-events: none; transform: translateY(50px); transition: all 0.25s ease; }

.breadCrumb .container .lnb02 .depth02 a { display: block; padding: 5px 0; }

.breadCrumb .container .lnb02 .depth02 .depth03 { display: none; }

.form .inner { display: flex; border-bottom: 1px solid #ccc; }

.form .inner dl { display: flex; align-items: center; padding: 10px 0; width: 100%; }

.form .inner dl.require dt:after { content: "*"; display: inline-block; color: #0f91d0; margin-left: 10px; }

.form .inner dl.w50 { width: 50%; display: inline-flex; }

.form .inner dl dt { width: 180px; padding: 20px; }

.form .inner dl dd { display: flex; width: 100%; }

.form .inner dl dd .label { margin-right: 20px; }

.form .label.text { width: 100%; font-size: 0; }

.form .label input[type="radio"], .form .label input[type="checkbox"] { position: absolute; padding: 0; border: 0; width: 0; height: 0; overflow: hidden; }

.form .label span { display: flex; align-items: center; }

.form .label.radio span:before { font-family: "Material Icons Two Tone"; content: "noise_control_off"; display: inline-block; margin-left: 0; overflow: hidden; display: flex; justify-content: center; align-items: center; color: rgba(255, 255, 255, 0.5); font-size: 24px; width: 25px; height: 25px; overflow: hidden; background-color: #0f91d0; border-radius: 100px; box-sizing: border-box; margin-right: 10px; }

.form .label.radio input:checked ~ span:before { color: white; text-shadow: 1px 1px 0px #0c70a0,2px 2px 0px #0c70a0,3px 3px 0px #0c70a0,4px 4px 0px #0c70a0,5px 5px 0px #0c70a0,6px 6px 0px #0c70a0,7px 7px 0px #0c70a0,8px 8px 0px #0c70a0,9px 9px 0px #0c70a0,10px 10px 0px #0c70a0,11px 11px 0px #0c70a0,12px 12px 0px #0c70a0,13px 13px 0px #0c70a0,14px 14px 0px #0c70a0,15px 15px 0px #0c70a0,16px 16px 0px #0c70a0,17px 17px 0px #0c70a0,18px 18px 0px #0c70a0,19px 19px 0px #0c70a0,20px 20px 0px #0c70a0,21px 21px 0px #0c70a0,22px 22px 0px #0c70a0,23px 23px 0px #0c70a0,24px 24px 0px #0c70a0,25px 25px 0px #0c70a0,26px 26px 0px #0c70a0,27px 27px 0px #0c70a0,28px 28px 0px #0c70a0,30px 30px 0px #0c70a0; }

.form .label.checkbox span:before { font-family: "Material Icons Two Tone"; content: "done"; display: inline-block; margin-left: 0; overflow: hidden; display: flex; justify-content: center; align-items: center; color: rgba(255, 255, 255, 0.5); font-size: 24px; width: 25px; height: 25px; overflow: hidden; background-color: #0f91d0; border-radius: 3px; box-sizing: border-box; margin-right: 10px; }

.form .label.checkbox input:checked ~ span:before { color: white; text-shadow: 1px 1px 0px #0c70a0,2px 2px 0px #0c70a0,3px 3px 0px #0c70a0,4px 4px 0px #0c70a0,5px 5px 0px #0c70a0,6px 6px 0px #0c70a0,7px 7px 0px #0c70a0,8px 8px 0px #0c70a0,9px 9px 0px #0c70a0,10px 10px 0px #0c70a0,11px 11px 0px #0c70a0,12px 12px 0px #0c70a0,13px 13px 0px #0c70a0,14px 14px 0px #0c70a0,15px 15px 0px #0c70a0,16px 16px 0px #0c70a0,17px 17px 0px #0c70a0,18px 18px 0px #0c70a0,19px 19px 0px #0c70a0,20px 20px 0px #0c70a0,21px 21px 0px #0c70a0,22px 22px 0px #0c70a0,23px 23px 0px #0c70a0,24px 24px 0px #0c70a0,25px 25px 0px #0c70a0,26px 26px 0px #0c70a0,27px 27px 0px #0c70a0,28px 28px 0px #0c70a0,30px 30px 0px #0c70a0; }

.form .label input[type="text"], .form .label select { height: 50px; width: 100%; border: 1px solid #ccc; padding: 0 15px; width: 100%; box-sizing: border-box; }

.form .label input[type="text"].harf, .form .label select.harf { width: calc(50% - 5px); margin-right: 10px; }

.form .label input[type="text"].harf:last-child, .form .label select.harf:last-child { margin-right: 0; }
