#mainVisual { margin-top: 100px; overflow: hidden; position: relative; }

#mainVisual li { height: calc(100vh - 100px); position: relative; background-size: cover; background-repeat: none; background-position: 50% 50%; }

#mainVisual li:before { display: block; position: absolute; content: ""; left: 0; top: 0; right: 0; bottom: 0; background-color: rgba(0, 0, 0, 0.5); }

#mainVisual li.visual01 { background-image: url("../images/main/visual01.jpg"); }

#mainVisual li.visual02 { background-image: url("../images/main/visual02.jpg"); }

#mainVisual li.visual03 { background-image: url("../images/main/visual03.jpg"); }

#mainVisual li .txtBox { width: 1280px; height: 100%; margin: auto; display: flex; justify-content: flex-end; align-items: center; color: #fff; z-index: 1; position: relative; }

#mainVisual li .txtBox .headTxt { font-size: 28px; border-bottom: 1px solid #fff; display: inline-block; padding-bottom: 10px; margin-bottom: 10px; }

#mainVisual li .txtBox h2 { font-size: 48px; line-height: 1.5; font-weight: 700; margin: 30px 0; }

#mainVisual li .txtBox .descTxt { font-size: 18px; }

#mainVisual li .txtBox a { margin-top: 50px; width: 180px; height: 60px; display: flex; align-items: center; justify-content: center; border: 2px solid #fff; border-radius: 100px; transition: all 0.25s ease-in-out; }

#mainVisual li .txtBox a:hover { background-color: #fff; color: #111; }

#mainVisual button { position: absolute; top: 50%; transform: translateY(-50%); width: 80px; height: 80px; border: 1px solid #fff; z-index: 2; background: none; color: #fff; }

#mainVisual button .material-icons { font-size: 64px; }

#mainVisual button.prev { left: 50px; }

#mainVisual button.next { right: 50px; }

#mainVisual .pagination { position: absolute; bottom: 50px; z-index: 2; text-align: center; }

#mainVisual .pagination .swiper-pagination-bullet { width: 20px; height: 20px; border-radius: 100px; opacity: 1; background-color: transparent; border: 2px solid #fff; transition: all 0.25s ease-in-out; }

#mainVisual .pagination .swiper-pagination-bullet-active { background-color: #fff; width: 120px; }
