@import "vars";
@import "mixin";

.subVisual {
  background-color: $sub-visual-color;
  .container {
    height: 700px;
    position: relative;
  }
  .contentsBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 700px;
    .subTitleBox {
      .subTitle {
        font-size: $font-large;
        font-weight: 700;
        line-height: 1.2;
        margin-bottom: 20px;
      }
      p {
        color: #333;
        line-height: 1.8;
      }
    }
    .imgBox {
      width: 740px;
      height: 500px;
      position: relative;
      img {
        position: absolute;
      }
    }
  }
}
#subVisual01 {
  .contentsBox .imgBox {
    img {
      &:nth-child(1) {
        left: 200px;
      }
      &:nth-child(2) {
        left: 0;
        top: 120px;
      }
      &:nth-child(3) {
        left: 60px;
        top: 250px;
      }
      &:nth-child(4) {
        right: 0;
        top: 120px;
      }
    }
  }
}
#lnb {
  position: absolute;
  background-color: #fff;
  width: 100%;
  left: 0;
  bottom: 0;
  .depth02 {
    display: flex;
    li {
      flex-basis: 25%;
      border: 1px solid #ccc;
      &:not(:nth-child(1)) {
        border-left: none;
      }
      &.active {
        background-color: $main-color;
        border-color: $main-color;
        color: #fff;
      }
      a {
        display: flex;
        height: 70px;
        justify-content: center;
        align-items: center;
      }
    }
  }
  .depth03 {
    display: none;
  }
}
.breadCrumb {
  position: relative;
  z-index: 2;
  .container {
    display: flex;
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
    .home {
      display: flex;
      width: 50px;
      height: 50px;
      overflow: hidden;
      text-indent: -999px;
      justify-content: center;
      align-items: center;
      border-left: 1px solid rgba(255, 255, 255, 0.5);
      &:before {
        text-indent: 0;
        font-size: 24px;
        @include icon("home", 0);
      }
    }
    .lnb01 {
      display: flex;
      height: 50px;
      align-items: center;
      padding: 0 20px;
    }
    .lnb02 {
      &:hover {
        .depth02 {
          pointer-events: auto;
          opacity: 1;
          transform: translateY(0);
        }
      }
      button {
        padding: 0 20px;
        background: none;
        border: none;
        display: flex;
        height: 50px;
        align-items: center;
        padding: 0 20px;
        font-size: 16px;
        font-family: "Noto Sans KR";
      }
      .depth02 {
        padding: 15px;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 10px;
        width: 150px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
        position: absolute;
        opacity: 0;
        pointer-events: none;
        transform: translateY(50px);
        transition: all 0.25s ease;
        a {
          display: block;
          padding: 5px 0;
        }
        .depth03 {
          display: none;
        }
      }
    }
  }
}

.form {
  .inner {
    display: flex;
    border-bottom: 1px solid #ccc;
    dl {
      display: flex;
      align-items: center;
      padding: 10px 0;
      width: 100%;
      &.textarea {
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        dd {
          padding: 0 20px;
        }
        textarea {
          width: 100%;
          border: 1px solid #ccc;
          padding: 20px;
          height: 200px;
          resize: none;
          line-height: 1.5;
          font-family: inherit;
          font-size: 15px;
        }
      }
      &.required {
        dt:after {
          content: "*";
          display: inline-block;
          color: $main-color;
          margin-left: 10px;
        }
      }
      &.w50 {
        width: 50%;
        display: inline-flex;
      }
      dt {
        width: 180px;
        padding: 20px;
        box-sizing: border-box;
      }
      dd {
        display: flex;
        flex-grow: 1;
        //width: calc(100% - 180px);
        position: relative;
        .label {
          margin-right: 20px;
        }
      }
    }
  }
  .label {
    &.text,
    &.selectBox {
      width: 100%;
      font-size: 0;
    }
    input[type="radio"],
    input[type="checkbox"] {
      position: absolute;
      padding: 0;
      border: 0;
      width: 0;
      height: 0;
      overflow: hidden;
    }
    span {
      display: flex;
      align-items: center;
    }
    &.radio {
      span:before {
        @include icon("noise_control_off", 0);
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgba(255, 255, 255, 0.5);
        font-size: 24px;
        width: 25px;
        height: 25px;
        overflow: hidden;
        background-color: $main-color;
        border-radius: 100px;
        box-sizing: border-box;
        margin-right: 10px;
      }
      input:checked ~ span:before {
        color: rgba(255, 255, 255, 1);
        @include longShadow(darken($main-color, 10), 30);
      }
    }
    &.checkbox {
      span:before {
        @include icon("done", 0);
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgba(255, 255, 255, 0.5);
        font-size: 24px;
        width: 25px;
        height: 25px;
        overflow: hidden;
        background-color: $main-color;
        border-radius: 3px;
        box-sizing: border-box;
        margin-right: 10px;
      }
      input:checked ~ span:before {
        color: rgba(255, 255, 255, 1);
        @include longShadow(darken($main-color, 10), 30);
      }
    }
    input[type="text"],
    select {
      height: 50px;
      width: 100%;
      border: 1px solid #ccc;
      padding: 0 15px;
      width: 100%;
      box-sizing: border-box;
      //display inlin-block
      //좌우 여백 4px을 가진다.
      &.harf {
        width: calc(50% - 5px);
        margin-right: 10px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  .abs {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(120%, -50%);
  }
}
